In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('Auto.csv')

In [3]:
print(df.columns)

Index(['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
       'num_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'num_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')

In [4]:
print(len(df.columns))

26

In [5]:
print(len(df.iloc[0:]))

205

In [6]:
print(df.loc[:])

     symboling  normalized_losses         make fuel_type aspiration num_doors  \
0            3                NaN  alfa-romero       gas        std       two
1            3                NaN  alfa-romero       gas        std       two
2            1                NaN  alfa-romero       gas        std       two
3            2              164.0         audi       gas        std      four
4            2              164.0         audi       gas        std      four
..         ...                ...          ...       ...        ...       ...
200         -1               95.0        volvo       gas        std      four
201         -1               95.0        volvo       gas      turbo      four
202         -1               95.0        volvo       gas        std      four
203         -1               95.0        volvo    diesel      turbo      four
204         -1               95.0        volvo       gas      turbo      four

      body_style drive_wheels engine_location  wheel_base  ...  engine_size  \
0    convertible          rwd           front        88.6  ...          130
1    convertible          rwd           front        88.6  ...          130
2      hatchback          rwd           front        94.5  ...          152
3          sedan          fwd           front        99.8  ...          109
4          sedan          4wd           front        99.4  ...          136
..           ...          ...             ...         ...  ...          ...
200        sedan          rwd           front       109.1  ...          141
201        sedan          rwd           front       109.1  ...          141
202        sedan          rwd           front       109.1  ...          173
203        sedan          rwd           front       109.1  ...          145
204        sedan          rwd           front       109.1  ...          141

     fuel_system  bore  stroke compression_ratio horsepower  peak_rpm  \
0           mpfi  3.47    2.68               9.0      111.0    5000.0
1           mpfi  3.47    2.68               9.0      111.0    5000.0
2           mpfi  2.68    3.47               9.0      154.0    5000.0
3           mpfi  3.19    3.40              10.0      102.0    5500.0
4           mpfi  3.19    3.40               8.0      115.0    5500.0
..           ...   ...     ...               ...        ...       ...
200         mpfi  3.78    3.15               9.5      114.0    5400.0
201         mpfi  3.78    3.15               8.7      160.0    5300.0
202         mpfi  3.58    2.87               8.8      134.0    5500.0
203          idi  3.01    3.40              23.0      106.0    4800.0
204         mpfi  3.78    3.15               9.5      114.0    5400.0

    city_mpg  highway_mpg    price
0         21           27  13495.0
1         21           27  16500.0
2         19           26  16500.0
3         24           30  13950.0
4         18           22  17450.0
..       ...          ...      ...
200       23           28  16845.0
201       19           25  19045.0
202       18           23  21485.0
203       26           27  22470.0
204       19           25  22625.0

[205 rows x 26 columns]

In [7]:
print(df['price'].mean())

13207.129353233831

In [8]:
print(df.loc[df['num_doors'] == "four"])

     symboling  normalized_losses   make fuel_type aspiration num_doors  \
3            2              164.0   audi       gas        std      four
4            2              164.0   audi       gas        std      four
6            1              158.0   audi       gas        std      four
7            1                NaN   audi       gas        std      four
8            1              158.0   audi       gas      turbo      four
..         ...                ...    ...       ...        ...       ...
200         -1               95.0  volvo       gas        std      four
201         -1               95.0  volvo       gas      turbo      four
202         -1               95.0  volvo       gas        std      four
203         -1               95.0  volvo    diesel      turbo      four
204         -1               95.0  volvo       gas      turbo      four

    body_style drive_wheels engine_location  wheel_base  ...  engine_size  \
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136
6        sedan          fwd           front       105.8  ...          136
7        wagon          fwd           front       105.8  ...          136
8        sedan          fwd           front       105.8  ...          131
..         ...          ...             ...         ...  ...          ...
200      sedan          rwd           front       109.1  ...          141
201      sedan          rwd           front       109.1  ...          141
202      sedan          rwd           front       109.1  ...          173
203      sedan          rwd           front       109.1  ...          145
204      sedan          rwd           front       109.1  ...          141

     fuel_system  bore  stroke compression_ratio horsepower  peak_rpm  \
3           mpfi  3.19    3.40              10.0      102.0    5500.0
4           mpfi  3.19    3.40               8.0      115.0    5500.0
6           mpfi  3.19    3.40               8.5      110.0    5500.0
7           mpfi  3.19    3.40               8.5      110.0    5500.0
8           mpfi  3.13    3.40               8.3      140.0    5500.0
..           ...   ...     ...               ...        ...       ...
200         mpfi  3.78    3.15               9.5      114.0    5400.0
201         mpfi  3.78    3.15               8.7      160.0    5300.0
202         mpfi  3.58    2.87               8.8      134.0    5500.0
203          idi  3.01    3.40              23.0      106.0    4800.0
204         mpfi  3.78    3.15               9.5      114.0    5400.0

    city_mpg  highway_mpg    price
3         24           30  13950.0
4         18           22  17450.0
6         19           25  17710.0
7         19           25  18920.0
8         17           20  23875.0
..       ...          ...      ...
200       23           28  16845.0
201       19           25  19045.0
202       18           23  21485.0
203       26           27  22470.0
204       19           25  22625.0

[114 rows x 26 columns]

In [9]:
df = df.drop(columns=['symboling'])

In [10]:
df['Size'] = df['wheel_base'] * df['length'] * df['height']
print(df.head(10))

   normalized_losses         make fuel_type aspiration num_doors   body_style  \
0                NaN  alfa-romero       gas        std       two  convertible
1                NaN  alfa-romero       gas        std       two  convertible
2                NaN  alfa-romero       gas        std       two    hatchback
3              164.0         audi       gas        std      four        sedan
4              164.0         audi       gas        std      four        sedan
5                NaN         audi       gas        std       two        sedan
6              158.0         audi       gas        std      four        sedan
7                NaN         audi       gas        std      four        wagon
8              158.0         audi       gas      turbo      four        sedan
9                NaN         audi       gas      turbo       two    hatchback

  drive_wheels engine_location  wheel_base  length  ...  fuel_system  bore  \
0          rwd           front        88.6   168.8  ...         mpfi  3.47
1          rwd           front        88.6   168.8  ...         mpfi  3.47
2          rwd           front        94.5   171.2  ...         mpfi  2.68
3          fwd           front        99.8   176.6  ...         mpfi  3.19
4          4wd           front        99.4   176.6  ...         mpfi  3.19
5          fwd           front        99.8   177.3  ...         mpfi  3.19
6          fwd           front       105.8   192.7  ...         mpfi  3.19
7          fwd           front       105.8   192.7  ...         mpfi  3.19
8          fwd           front       105.8   192.7  ...         mpfi  3.13
9          4wd           front        99.5   178.2  ...         mpfi  3.13

   stroke compression_ratio horsepower  peak_rpm city_mpg  highway_mpg  \
0    2.68               9.0      111.0    5000.0       21           27
1    2.68               9.0      111.0    5000.0       21           27
2    3.47               9.0      154.0    5000.0       19           26
3    3.40              10.0      102.0    5500.0       24           30
4    3.40               8.0      115.0    5500.0       18           22
5    3.40               8.5      110.0    5500.0       19           25
6    3.40               8.5      110.0    5500.0       19           25
7    3.40               8.5      110.0    5500.0       19           25
8    3.40               8.3      140.0    5500.0       17           20
9    3.40               7.0      160.0    5500.0       16           22

     price         Size
0  13495.0   729837.184
1  16500.0   729837.184
2  16500.0   847748.160
3  13950.0   957020.124
4  17450.0   953184.372
5  15250.0   939580.074
6  17710.0  1135592.662
7  18920.0  1135592.662
8  23875.0  1139670.194
9      NaN   922006.800

[10 rows x 26 columns]

In [11]:
M = print(df['price'].mean())

13207.129353233831

In [12]:
M = df['price'].mean()

df['Business'] = df['price'] > M

df['Economy'] = df['price'] <= M

df.sort_values('price',ascending=True)

,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,Size,Business,Economy
138,83.0,subaru,gas,std,two,hatchback,fwd,front,93.7,156.9,...,2.36,9.0,69.0,4900.0,31,36,5118.0,789472.161,False,True
18,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,141.1,...,3.03,9.5,48.0,5100.0,47,53,5151.0,663576.368,False,True
50,104.0,mazda,gas,std,two,hatchback,fwd,front,93.1,159.1,...,3.15,9.0,68.0,5000.0,30,31,5195.0,801340.561,False,True
150,87.0,toyota,gas,std,two,hatchback,fwd,front,95.7,158.7,...,3.03,9.0,62.0,4800.0,35,39,5348.0,827723.655,False,True
76,161.0,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,157.3,...,3.23,9.4,68.0,5500.0,37,41,5389.0,748741.708,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,199.2,...,3.35,8.0,184.0,4500.0,14,16,45400.0,1235996.160,True,False
9,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,3.40,7.0,160.0,5500.0,16,22,NaN,922006.800,False,False
44,NaN,isuzu,gas,std,two,sedan,fwd,front,94.5,155.9,...,3.11,9.6,70.0,5400.0,38,43,NaN,766092.600,False,False
45,NaN,isuzu,gas,std,four,sedan,fwd,front,94.5,155.9,...,3.11,9.6,70.0,5400.0,38,43,NaN,766092.600,False,False
129,NaN,porsche,gas,std,two,hatchback,rwd,front,98.4,175.7,...,3.11,10.0,288.0,5750.0,17,28,NaN,873088.440,False,False

In [13]:
M = df['price'].mean()

business_df = df['Business'] = df['price'] > M

economy_df = df['Economy'] = df['price'] <= M

df.sort_values('price',ascending=True)

business_df.to_csv('business.csv')

economy_df.to_csv('economy.csv')